$primary:rgba(92, 211, 243,0.8);
$darkWhite:rgba(255, 255, 255, 0.05);
$dark:rgba(255, 255, 255, 0.027);
$light:rgba(92, 211, 243,0.15);
$mainWhite:rgba(255, 255, 255, 0.87);
$darkBlue:rgb(13, 17, 24);
$transition:all .5s ease-in-out;