@import url("https://fonts.googleapis.com/css?family=Farro|M+PLUS+Rounded+1c|Roboto&display=swap");
@import "variables";

body {
  color: $mainWhite;
  background: transparent !important;
  font-family: "Roboto", sans-serif;
}
section {
  min-height: 80vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
///////////////////NAVBAR///////////////////////////////////
nav {
  width: 100vw;
  transition: $transition;
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
  background: $darkWhite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  & .nav-center {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    background: transparent;
    font-size: 3rem;

    & .icon {
      cursor: pointer;

      & .btn-group {
        background: $dark;
        border-radius: 20px;
        align-items: center;
        overflow: hidden;
        & .language {
          font-size: 0.6em;
          transition: $transition;
          &:hover {
            color: $primary;
            background: $darkWhite;
          }

          &:nth-child(2) {
            border-right: 2px solid $darkWhite;
            border-left: 2px solid $darkWhite;
          }
          & p {
            line-height: 1;
            margin: 0;
          }
        }
      }
      & .hover {
        transition: $transition;
      }
      & .atom-hover:hover {
        animation: spin 20s linear;
      }
      & a {
        text-decoration: none;
        color: $mainWhite;
        transition: $transition;
      }

      & .hover:hover {
        color: $primary;
      }

      &:nth-child(1):hover {
      }
    }
  }
}
////////////////////////////////////////////HOME/////////////////
.drag {
  transition: all 0.3s ease-out;
}
.home {
  & .react {
    transition: $transition;
    animation: float 6s ease-in-out infinite;
    animation: spin 20s linear infinite;
    // position:absolute;
  }
  & .text {
    & h1 {
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.8rem;
      font-size: 5rem;
    }

    & p {
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
    }
  }
  & .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 5px;
    }
    & ul {
      list-style: none;
      display: flex;
      width: 40%;
      justify-content: space-around;
      & a {
        text-decoration: none;
        font-size: 2em;
        transition: $transition;
        color:$mainWhite;
        & li {
          cursor: pointer;
        
        }
        &:hover {
          color: $primary;
         
        }
      }
    }
  }
}
/////////////////////////////404////////////////////////////
.notfound-content {
  text-align: center;

  & .travolta {
    animation: float 6s ease-in-out infinite;
  }
  & h1 {
    font-size: 15em;
    text-shadow: 0px 0px 11px $primary, 0px 0px 9px $primary;
    color: $primary;
  }
  & p:nth-of-type(1) {
    font-size: 2em;
    text-shadow: 0px 0px 11px $primary, 0px 0px 9px $primary;
    color: $primary;
  }
  & p:nth-of-type(2) {
    color: #5e86f4;
    font-size: 1.25em;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/////////////////////////////Navigation/////////////////////
.navigation {
  z-index: 2;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 7vh;
  left: 0;

  & ul {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;

    & a {
      font-size: 4em;
      text-decoration: none !important;
      color: $mainWhite;
    }
  }
}

////////////////////Card//////////////
.portfolio {
  margin-top: 15vh;
  & .card {
    background: $darkWhite !important;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    height: 75%;
    transition: $transition;

    &:hover {
      height: 100%;
    }
     

    & img {
      object-fit: cover;
    }
  }
}
////////////////////Tools/////////////////
.tools {
  flex-flow: row wrap;
  & .tool {
    background: $light;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    opacity: 0;
    transform: translateY(-20px);
  }
}
/////////////////////////about/////////////////////
.about {
  margin-top: 10vh;
  & .about-row {
    background: $darkWhite;
    border-radius: 20px;

    & .col {
    }

    & p {
      background: $dark;
      border-radius: 20px;
      padding: 30px;
    }

    &:hover {
      box-shadow: 0px 0px 9px 2px $primary;
      transition: $transition;
      
    }
  }
}
// box-shadow: 0 0 9px 2px $primary;
